.gallary{
    max-height:400px;
    height:200px;
    width: 100%;
    border:2px solid black;
    overflow:hidden;
}

.gallary__info{
    border:2px solid black;
    height:100%;
}

.gallary__text{
    height:80%;
}

.gallary__image{
    border:2px solid black;
    height:100%;
}

.gallary__download {
    height:20%;
    border:2px solid black;
}

.gallary__canvas{
    display:block;
    width:50px;
    height:50px;
    border:2px solid black;
    margin:auto;
}
