/*##fb8122 #1d2228 #e1e2e2*/

.background--dark {
  background-color: #1d2228;
}

.background--orange {
  background-color: #fb8122;
}

.background--orangeflow {
  background-image: linear-gradient(#fb8122 50%, white 100%);
}

.background--grey {
  background-color: white;
}

.mainbody {
  padding: 0;
  background-color: #f8f8f8 !important;
  height: 100%;
}

.line__short--black {
  width: 20%;
  float: left;
  height: 8px;
  margin: 0% 2% 0% 5%;
  background-color: #1d2228;
}

.line__short--orange {
  width: 60%;
  margin: 0% 5% 0% 2%;
  float: left;
  height: 8px;
  background-color: #fb8122;
}

.block--orange {
  width: 100%;
  background-color: #fb8122;
}

.bar--black {
  background-color: #1d2228;
  margin: 0;
  padding: 0;
  height: 50px;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.bartitle__middle--white {
  width: 20%;
  display: block;
  margin: auto;
  height: 100%;
  background-color: #f8f8f8;
}

.bartitle__inline--orange {
  width: 80%;
  display: block;
  margin: auto;
  height: 100%;
  background-color: #fb8122;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(1, 31, 114, 0.8),
    0 10px 50px 0 rgba(1, 31, 114, 0.5);
}

.border--blue {
  box-shadow: 0 4px 8px 0 rgba(1, 31, 114, 0.8),
    0 10px 50px 0 rgba(1, 31, 114, 0.5);
}

.bartitle__title {
  text-align: center;
  padding-top: 10px;
}
