.education__faculty {
  margin: 5%;
  width: 90%;
  height: 10em;

  padding: 0;
  box-shadow: 10px 10px #1d2228;
  display: block;
}

.education__faculty:hover {
  margin-left: 7%;
  margin-bottom: 3%;
  margin-top: 6%;
  box-shadow: 2px 2px #1d2228;
}

.education__faculty img {
  height: 100%;
}

.education {
  height: 35em;
}

.education__img {
  padding: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
}

.education__text {
  background: linear-gradient(#fb8122 0%, white 30%);
  height: 40%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
}

#education__info {
  border-top: 20px solid #fb8122;
  overflow: scroll;
}

.education__from {
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px #1d2228;
  border-top: 2px solid blue;
  background-color: lightblue;
  height: 60%;
  padding-top: 0%;
}

.education__dash {
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px #1d2228;
  background-color: #fb8122;
  height: 60%;
  padding-top: 0%;
}

.education__to {
  width: 30%;
  border-radius: 5px;
  box-shadow: 5px 5px #1d2228;
  border-top: 2px solid blue;
  background-color: lightblue;
  height: 60%;
  padding-top: 0%;
}

.education__intro {
  width: 80%;
  margin: 10%;
  border-top: 5px solid #fb8122;
}

.education__classtitle {
  font-size: 20px;
}

.education__classinfo p {
  font-size: 15px;
}

.hidden {
  display: none;
}
