.footer {
  margin-top: -200px;
  width: 100%;
}

.footer__img {
  width: 100%;
  background: linear-gradient(white 40%, #fb8122 80%);
}

.footer__img img {
  width: 100%;
  height: auto;
  scale: auto;
}
