.workrecent {
  height: 15em;
  position: relative;
}

.workrecent__more {
  position: absolute;
  width: 20%;
  top: 98%;
  left: 75%;
  border-top: 5px solid #fb8122;
  background: linear-gradient(to right, #fb8122 0%, white 20%);
  height: 2em;
  box-shadow: 10px 10px #1d2228;
  z-index: 2;
}

.workrecent__more h3 {
  font-size: 20px;
  text-align: center;
}

.workrecent__container {
  width: 28%;
  height: 80%;
  margin: auto;
  background-color: white;
  border: 4px solid #1d2228;
  box-shadow: 8px 8px blue;
}

.workrecent__container:hover {
  scale: 1;
  border: 4px solid rgba(1, 31, 114, 0.8);
  box-shadow: 0 4px 8px 0 rgba(1, 31, 114, 0.8),
    0 10px 50px 0 rgba(1, 31, 114, 0.5);
}

.workrecent__container:hover .workrecent__containertitle {
  background-image: linear-gradient(#fa9c55 50%, white 100%) !important;
}

.workrecent__containers {
  vertical-align: bottom;
  width: 100%;
  margin-top: -10px;
  display: flex;
  height: 80%;
  z-index: -1;
}

.workrecent__containertitle {
  width: 100%;
  height: 40%;
  padding: 5%;
}

.workrecent__title {
  background-color: white;
  position: relative;
  width: 26%;
  height: 20%;
  margin-left: 2%;
  z-index: 1;
  border-top: 10px solid #fb8122;
  box-shadow: 10px 10px #1d2228;
}
