@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 4));
  }
}
.slider {
  background: #f8f8f8;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    #f8f8f8 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: calc(200px * 14);
}
.slider .slide {
  height: 100px;
  width: 200px;
}

.slide {
  display: flex;
  position: relative;
}

.slide__img {
  width: 50%;
  border-radius: 50%;
  border: 5px solid #fb8122;
}

.slide-track:hover {
  animation-play-state: paused;
}

.circle {
  width: 100%;
  position: absolute;
}

.stroke {
  stroke: pink;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: transparent;
  stroke-width: 5px;
}

.slide:hover .A {
  stroke-dashoffset: 50;
  transition: 0.6s ease-out;
}

.slide:hover .B {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.slide:hover .C {
  stroke-dashoffset: 150;
  transition: 0.6s ease-out;
}

.slide:hover .D {
  stroke-dashoffset: 200;
  transition: 0.6s ease-out;
}

.slide:hover .E {
  stroke-dashoffset: 250;
  transition: 0.6s ease-out;
}
